body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
}

header {
  background-color: #1e293b;
  padding: 20px;
}

header h1 {
  color: crimson;
  margin: 0;
}

header p {
  color: white;
}